<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}FORME{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="hold-transition sidebar-mini skin-purple-light sidebar-collapse">
        <div id="app" class="wrapper"></div>
        <script type="text/javascript" src="/build/bundle.0b23084bcf5b06b97b02.js"></script>
    <script type="text/javascript" src="/build/bundle.4ea42ce76fa6eb53378b.js"></script></body>
</html>
